[mysqld]
default_authentication_plugin=mysql_native_password
innodb_buffer_pool_size=128M
key_buffer_size=32M
thread_cache_size=16
table_open_cache=512
max_connections = 200
wait_timeout = 600
interactive_timeout = 600
skip-name-resolve
innodb_flush_log_at_trx_commit = 0
